main{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    height: 100vh;
    width: 100%;
}
.box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
